.to{
    display:flex; 
    width: 900px;
    margin: auto;
    justify-content: space-between;
}
.to .so1{
    width: 15%;

}
.to .so2{
    width: 45%;
    display: flex;

}
.to .so3{
    width: 20%;

}
img{
    width: 100%;
}
.to .so2 .so2-1{
    width: 33.33%;
    
}
.to .so2 .so2-2{
    width: 33.33%;

}
.to .so2 .so2-3{
    width: 33.33%;

}