a.chu{
    position: relative;
    font-family: segoe ui;
    text-decoration: none;
    color: black;
    

}
a.chu span{ }
a.chu .ke{ 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: aqua;
    transition: 0.3s;
}
a.chu:hover .ke{
    width: 100%;

}
div{
    display: flex;
}