h2{
    width:550px;
    margin-left:500px;
    font-family:segoe ui ;
}
h4{
    width: 580px;
    margin-left: 550px;
    font-family:segoe ui ;
}
ul{
    margin-left: 525px;
    width: 550px;
    font-family:segoe ui ;
    font-size: 13px;
    color: rgb(15, 15, 15);
}
hr{
    width: 550px;
    margin-left: 550px;
}
p{
    width: 600px;
    margin-left: 550px;
}
.so2{
    width: 600px;
    margin-left: 550px;
    
   
}
.so1{
    display: flex;
    width: 600px;
    margin-left: 550px;
    
    
}
 .con1{
    width: 190px;
    margin-right: 10px;

}
 .con2{
    width: 420px;
}
.so3{
    display: flex;
    width: 600px;
    margin-left: 550px;
    
    
    
}
.so4{
    display: flex;
    width: 600px;
    margin-left: 550px;
    
    
}
img{
    margin-bottom: 10px;
}







