div.so2{
    
        display:flex;
        width: 600px;
        margin-left: 550px;
         
    }
    img.con3{
        width: 290px;
        height: 300px;
        margin-right: 10px;
    }
    img.con4{
        width: 300px;
        height: 300px;
    }
