*{margin: 0;padding: 0;}
.bo{
    width: 700px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.bo .anh{
    width: 720px;
    height: 100%;
    position: relative;
    left: -20px;
    transition: 0.4s;
}
.bo:hover .anh{
    left: 0px;
}
.bo .chuto{
    position: absolute;
    height: 40px;
    width: 100%;
    /* background-color: aqua; */
    top: 50%;
    left: 0;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    font-family: segoe ui;
    overflow: hidden;
}
.bo .chuto .chunho{
    position: relative;
    top: 50px;
    transition: 0.4s;
}
.bo:hover .chuto .chunho{
    top: -2px;
}

