*{
    margin: 0; padding: 0;
}
.content{
    height: 120x;
    background-image: -webkit-linear-gradient(left, #ec5252, #6e1a52);

}
.content ._3col{
    display: flex;
        width: 1000px;
        margin: auto;
        font-family: segoe ui;
        padding: 10px;
        color: white;
        box-sizing: border-box ;
}
._3col ._1col{
    width: 33.33%;
    display: flex;
    padding-top: 30px;
    

}
._3col ._1col .trai{
width: 15%;
}
._3col ._1col .phai{
    width: 85%;
}
._3col ._1col .trai .fa{
    font-size: 30px;
}
._3col ._1col .phai .b{}
._3col ._1col .phai .p{}
@media(max-width:992px){
    ._3col ._1col .phai{
        width: 100%;
    }
    ._3col ._1col .trai .fa{
        opacity: 0;
    }
    .content ._3col{
        width: 100%;
        text-align: center;
    }

}

@media(max-width:576px){
    .content{
        opacity: 0;
    }


}